@font-face {
  font-family: "Nunito ExtraBold";
  src: url("./assets/fonts/NunitoFont/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Bold";
  src: url("./assets/fonts/NunitoFont/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --nunito-font-extra-bold: "Nunito ExtraBold", sans-serif;
  --nunito-font-bold: "Nunito Bold", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 225, 235);
}
