nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgba(70, 25, 66);
  padding: 0 10px;
  box-shadow: 0 0 5px black;
  position: fixed;
  width: calc(100% - 20px);
  z-index: 100;
  top: 0;
}

nav > .logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 24px;
  font-weight: bolder;
  padding: 10px 0;
  cursor: pointer;
}

.logo > img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0 0 0.8px white);
}

.logo > h2 {
  padding: 0;
  margin: 0;
  color: white;
  font-family: var(--nunito-font-extra-bold);
  font-weight: 1000;
}

.navActions {
  display: flex;
  align-items: center;
}

.navActions > button {
  margin-left: 20px;
}

.navActions > a:hover {
  text-decoration: underline;
}

.searchQuiz {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-right: 1px solid rgb(122, 66, 117);
  height: 50px;
}

.searchQuiz > select {
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(96, 46, 92);
  color: white;
  border: none;
  box-shadow: 0 0 2px white;
}

.searchQuiz > input {
  padding: 7px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 2px white;
}

.searchQuiz > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(96, 46, 92);
  padding: 5px;
  transition: ease 0.2ms;
  box-shadow: 0 0 2px white;
}

.searchQuiz > img:hover {
  background-color: rgb(170, 129, 157);
  transform: scale(1.05);
}

.burgerMenuIcon {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px;
  transition: 0.3s ease;
  margin-left: 20px;
  border-radius: 10px;
}

.burgerMenuIcon:hover {
  background-color: rgb(122, 66, 117);
}

.burgerMenuIcon > span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: 0.3s ease;
}

.burgerMenuIcon.open span:nth-child(1) {
  transform: rotate(45deg) translate(6.6px, 6.6px);
}
.burgerMenuIcon.open span:nth-child(2) {
  opacity: 0;
}
.burgerMenuIcon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6.6px, -6.6px);
}
