nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgb(250, 235, 215);
  padding: 0 10px;
}

nav > .logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 24px;
  font-weight: bolder;
  padding: 10px 0;
  cursor: pointer;
}

.logo > img {
  width: 60px;
  height: 60px;
}

.logo > h2 {
  padding: 0;
  margin: 0;
  color: #461942;
  font-family: var(--nunito-font-extra-bold);
  font-weight: 1000;
}

.navActions {
  display: flex;
  align-items: center;
}

.navActions > button {
  margin-left: 20px;
}

.navActions > a:hover {
  text-decoration: underline;
}

.searchQuiz {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 20px;
  border-right: 1px solid rgb(224, 210, 192);
  height: 50px;
}
