.multipleChoiceContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.multipleChoiceContainer > button {
  width: calc(50% - 20px);
  background-color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: ease 0.2s;
  min-width: 100px;
}

.multipleChoiceContainer > button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(122, 66, 117);
}

.fillInTheBlankContainer {
  display: flex;
  gap: 10px;
}

.fillInTheBlankContainer > input {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px rgb(122, 66, 117);
}

.fillInTheBlankContainer > button {
  padding: 7px 10px;
  border-radius: 10px;
  background-color: rgb(122, 66, 117);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: ease 0.2s;
}

.fillInTheBlankContainer > button:hover {
  transform: scale(1.1);
}
